.left_side_content {
    background-color: #7EB204;
}

.left_side_content {
    background-color: #7EB204;
    float: left;
    margin: 0 1px;
    padding: 0;
    width: 265px !important;
}

div {
    display: block;
}


BODY {
    background: url(../images/bgnew.jpg) repeat-y scroll center top #cbcbcb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0 auto;
}
#nav {
    display: block;
    margin: 0;
}

.left_side_content ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ol, ul {
    list-style: none;
}

img, ol, ul, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#nav li {
}

.left_side_content ul li {
    
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    line-height: 22px;
    width: 100%;
	border-bottom-style: solid;
}

.webwidget_tab_2 .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.webwidget_tab .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#nav {
    display: block;
    margin: 0;
}

.left_side_content ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

img, ol, ul, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}
#nav > li > span > a:hover, #nav > li > span > a.open {
    background: url(../images/arrow_list_hover.png) no-repeat scroll 10px 15px #FFFFFF;
    color: #03AADE !important;
}

#nav > li > span > a {
    color: #FFFFFF;
}

.left_side_content ul li a:hover {
    color: #000000;
}

.left_side_content ul li a {
    background: url(../images/arrow_list.png) no-repeat scroll 10px 15px rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    line-height: 38px;
    text-decoration: none;
    text-indent: 23px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}


.left_side_content ul li {
    background-image: url(../images/border_bottom.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    line-height: 22px;
    width: 100%;
}

.webwidget_tab_2 .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.webwidget_tab .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.left_side_content ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ol, ul {
    list-style: none;
}

img, ol, ul, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
}
#nav > li > a:hover, #nav > li > a.open {
    background: url(../images/arrow_list_hover.png) no-repeat scroll 10px 15px #FFFFFF;
    color: #03AADE;
}

#nav > li > a {
    background: url(../images/arrow_list.png) no-repeat scroll 10px 15px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}

.left_side_content ul li a:hover {
    color: #000000;
}

.left_side_content ul li a {
    background: url(../images/arrow_list.png) no-repeat scroll 10px 15px rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    line-height: 38px;
    text-decoration: none;
    text-indent: 23px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}


.left_side_content ul li {
    background-image: url(../images/border_bottom.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    line-height: 22px;
    width: 100%;
}

.webwidget_tab_2 .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.webwidget_tab .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.left_side_content ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ol, ul {
    list-style: none;
}

img, ol, ul, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#nav li ul {
    background: none repeat scroll 0 0 #7EB204;
    display: none;
}

#nav li ul {
    background: none repeat scroll 0 0 #87BD03;
    display: none;
}

.left_side_content ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ol, ul {
    list-style: none;
}

img, ol, ul, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
}

ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

ul ul, ol ul {
    list-style-type: circle;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.left_side_content ul li {
    background-image: url(../images/border_bottom.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    line-height: 22px;
    width: 100%;
}
.webwidget_tab_2 .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.webwidget_tab .tabBody ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.left_side_content ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ol, ul {
    list-style: none;
}
  